button{
  height:40px;
  width: 250px;
  background-color: #3B5998;
  border: none;
  cursor: pointer;
  color:white;
  transition: 0.3s ease;
  -webkit-transition:0.3s ease;
  -moz-transition:0.3s ease;
  -o-transition:0.3s ease;
}
button:hover{
  background-color:#8B9DC3;
}
#button-holder{
  text-align: center;
  padding-top: 10%;
}
